.wrap-form-binhluan {
    margin-bottom: 10px;
    padding-bottom: 10px
}

.wrap-form-binhluan .comment_content, .wrap-form-binhluan .comment_content_reply {
    padding: .625rem;
    border: .0625rem solid #e2e2e2;
    border-radius: .1875rem;
    line-height: 1.25rem;
    background-color: #f5f5f5;
    display: block;
    width: 100%
}

.wrap-form-binhluan .binhluan-button {
    margin-top: 10px
}

.wrap-form-binhluan .binhluan-button .hint {
    display: block;
    padding: 0 .625rem;
    width: 40%;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #f5f5f5;
    float: left
}

.wrap-form-binhluan .binhluan-button .btn-button {
    background-color: #2196f3 !important;
    border: .0625rem solid #2196f3 !important;
    border-radius: .1875rem;
    display: block;
    padding: 0 .625rem;
    width: 15%;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #fff !important;
    margin-left: 20px;
    float: left
}

.comment_item {
    padding-left: 3.4375rem;
    margin: .625rem;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px
}

.comment_item .wrap-avatar {
    left: 0;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem
}

.comment_item .wrap-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 10px
}

.comment_item .comment-head {
    position: relative
}

.comment_item .comment-head span {
    display: inline;
    line-height: 1.125rem;
    font-size: 1rem;
    color: #92000e;
}

.comment_item .comment-head .time {
    color: #999;
    padding-left: 5px;
    font-size: 0.9rem
}

.comment_item .comment-content .comment-button {
    color: #2196f3 !important;
    text-align: right
}

.comment_item .comment-content .comment-button button {
    border: none;
    background: transparent;
    color: #2196f3 !important
}

.comment-content img, .comment_content img {
    width: 2.5rem;
    height: 2.5rem
}

.comment-body {
    background-color: rgb(245 245 245);
    border-radius: 4px;
    padding: 6px 15px 6px 10px;
}

.view-replies {
    float: left;
}

.lst-child .comment_item {
    border-bottom: none;
}

.lst-child .comment_item:first-child {
    padding-top: 10px;
}

.post_comment_reply {
    margin-top: 10px;
    border: 0;
}

.show-more {
    text-align: center
}

.comment-loader {
    text-align: center;
}

.loader-icon {
    background-image: url("/assets/images/svg/comment-load.svg");
    background-repeat: no-repeat;
}

.icon-block {
    width: 100px;
    height: 100px;
    display:inline-block;
}

.emo-tab {
    display: inline-flex;
    margin-bottom: 16px;
    width: auto;
}
.emo-tab .emo-item {
    background-color: #fff;
    border: 1px solid #ced4da;
    padding: 4px 8px;
    margin: 2px;
    line-height: 20px;
    cursor: pointer;
}
.emo-tab .emo-item img {
    height: 30px;
    width: 30px;
}
.emo-tab .emo-menu {
    width: auto;
    padding: 4px;
    border: none;
    transform: translate3d(0, 42px, 0px) !important;
}
.emo-box .emo-tab:nth-child(3) .emo-menu {
    transform: translate3d(-100px, 42px, 0px) !important;
}
.emo-box .emo-tab:nth-child(4) .emo-menu {
    transform: translate3d(-160px, 42px, 0px) !important;
}
.emo-box .emo-tab:nth-child(5) .emo-menu {
    transform: translate3d(-200px, 42px, 0px) !important;
}
.emo-tab .emo-menu .emo-expand {
    border: 1px solid #ced4da;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
.emo-tab .emo-menu img {
    height: 100%;
    width: auto;
    max-width: 40px;
    max-height: 40px;
}
.comment_content {
    min-height: 100px;
}
.comment_content:empty:before {
    content:attr(data-placeholder);
    color:gray
}

.ios-return-right{
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20width%3D%221em%22%20height%3D%221em%22%20style%3D%22-ms-transform%3A%20rotate%28360deg%29%3B%20-webkit-transform%3A%20rotate%28360deg%29%3B%20transform%3A%20rotate%28360deg%29%3B%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M441.5%20265.4L381.9%20206c-2.6-2.6-6.1-4.1-9.9-4.1-3.7%200-7.3%201.4-9.9%204.1-2.6%202.6-4.1%206.1-4.1%209.9s1.5%207.3%204.1%209.9l.1.1%2041.1%2040.1H142c-13.2%200-25.8-5.2-35.3-14.7-9.5-9.5-14.7-22-14.7-35.3v-48c0-7.7-6.3-14-14-14s-14%206.3-14%2014v48c0%2020.8%208.1%2040.3%2022.9%2055.1%2014.8%2014.8%2034.3%2022.9%2055.1%2022.9h261.7L364%20334.2c-2.6%202.6-4.1%206.1-4.1%209.9%200%203.7%201.4%207.3%204.1%209.9l.1.1c2.7%202.5%206.2%203.9%209.8%203.9%203.9%200%207.3-1.4%209.9-4.1l57.6-57.4c4.2-4.2%206.5-9.8%206.5-15.7.1-5.8-2.2-11.3-6.4-15.4z%22%20fill%3D%22%232196f3%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    padding-right: calc(0.5em + 0.75rem);
    background-position: center right calc(0.3em);
}