.user-setting {
    width: 100%;
    float: left;
    margin-top: 20px;
    margin-bottom: 50px
}

.user-setting .left {
    width: calc(100% - 325px);
    float: left;
    padding-right: 15px
}

.bookmark-item {
    float: left;
    background: #fff;
    color: #383838;
    width: 100%;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #f1f1f1
}

.bookmark-item img {
    width: 60px;
    height: 90px;
    margin-right: 10px;
    float: left;
    vertical-align: top
}

.bookmark-item .item-right {
    width: calc(100% - 70px);
    float: left
}

.bookmark-item .item-row-one {
    width: 100%;
    height: 30px;
    margin-bottom: 0
}

.bookmark_remove {
    float: right
}

.bookmark_remove i {
    color: #da3145
}

.bookmark-item .item-story-name {
    float: left;
    color: #da3145;
    font-weight: 700;
    font-size: 15px
}

.bookmark-item .item-right span.item-title {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 700
}

.bookmark-item .item-right span.item-title:last-child {
    margin-bottom: 0
}

.user-setting .right {
    width: 325px;
    float: left
}

.user-setting .setting-choose {
    width: 100%;
    float: left;
    background: #f1f1f1;
    padding: 15px;
    margin-bottom: 20px
}

.user-setting .right ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.user-setting .right ul li {
    width: 100%;
    float: left;
    padding: 5px 0
}

.user-setting .right ul li a {
    font-weight: 700
}

.user-setting .right ul li a:hover {
    color: #1b681d;
    text-decoration: none
}

.tab-item {
    width: 100%;
    float: left;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 20px;
    padding-bottom: 20px
}

.tab-item h3 {
    font-size: 15px;
    font-weight: 700;
    color: #000
}

.form-items {
    width: 100%;
    float: left;
    margin-bottom: 10px
}

.form-items .form-label {
    width: 160px;
    float: left;
    height: 40px;
    line-height: 40px
}

.form-items .form-input {
    width: calc(100% - 160px);
    float: left;
    line-height: 40px
}

.form-items .form-input input {
    width: 250px;
    float: left;
    height: 40px;
    padding: 0 10px
}

.form-items .form-input input[type=submit] {
    background: #1a6b13;
    color: #fff;
    border: none
}

.form-items .form-input .message {
    width: 100%;
    float: left;
    line-height: 1;
    padding-top: 10px
}

.form-items .form-input .message p {
    margin-bottom: 0;
    font-size: 11px;
    color: #da3145
}

@media (max-width: 800px) {
    .user-setting .left {
        width: 100%;
        padding-right: 0
    }

    .user-setting .right {
        width: 100%
    }
}

@media (max-width: 500px) {
    .form-items .form-label {
        width: 100%
    }

    .form-items .form-input {
        width: 100%
    }

    .form-items .form-input input {
        width: 100%
    }
}